@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Index";
    string? selectedTitle = Context.Request.Query["title"].ToString();
    string? selectedGenre = Context.Request.Query["genre"].ToString();
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-action="Filter" method="get">
    <div class="input-group mb-3">
        <input type="text"
               class="form-control"
               name="title"
               value="@selectedTitle"
               placeholder="Search title" />

        <select class="form-select"
                name="genre">
            <option value="">Please select genre</option>
            @foreach (var genre in Html.GetEnumSelectList<Genre>())
            {
                if (genre.Value == selectedGenre)
                {
                    <option value="@genre.Value" selected>@genre.Text</option>
                }
                else
                {
                    <option value="@genre.Value">@genre.Text</option>
                }
            }
            <option value="">Please select genre</option>
        </select>

        <button type="submit" class="btn btn-primary">
            Search
        </button>
    </div>
</form>




<partial name="_MovieListPartial" model="Model" />

